# toolbx@.container
# Quadlet container template for toolbox  
# copyright 2022 @richiedaze:fedora.im
# SPDX-License-Identifier: GPL-3.0-or-later

# %i = instance
# %p = program
# %S = state

[Unit]
AssertFileIsExecutable=/usr/bin/toolbox
Description=Toolbox Container template
Documentation=man:podman-systemd.unit(5)
Documentation=man:toolbox-init-container(1)
Documentation=man:toolbox(1)

[Container]
# Add Capabilities
AddCapability=CAP_SYS_ADMIN

# Autoupdate mode
AutoUpdate=registry

# The name of the container
ContainerName=%i-%p

#DNS mode
#DNS=none
#Error: none is not allowed to be specified with other DNS ip addresses

# Environmental variables inside container.
Environment=TOOLBOX_NAME=%i-%p
Environment=TOOLBOX_PATH=/usr/bin/%p

# Initial command inside container.
# rm for homed --home-link \
Exec=%p init-container \
    --log-level info \
        --home %h \
        --shell %s \
        --user %u \
        --uid %U \
        --gid %G \
        --media-link \
        --mnt-link
        
# Show logs of this Container in Debug mode.
#GlobalArgs=--log-level debug

# Name of the host in the Container.
HostName=%i-%p

# Location of the base image.
Image=registry.fedoraproject.org/fedora-toolbox:%w

# Container's mounts
Mount=type=devpts,destination=/dev/pts

# The network of the container.
Network=host

# Features otherwise unsupported by the Quadlet generator.
PodmanArgs=--dns=none
PodmanArgs=--ipc host
PodmanArgs=--no-hosts
PodmanArgs=--pid host

# Disable security labels 
SecurityLabelDisable=true

# User preferences
User=root:root

# User namespace
UserNS=keep-id

# Volumes

# Bind host's directories onto the container.
Volume=/dev:/dev:rslave
Volume=/run/user/%U:/run/user/%U
Volume=/run/media:/run/media:rslave

# Bind host's root directory onto the container.
Volume=/:/run/host:rslave

# Bind host's sockets onto the container.
Volume=/run/.heim_org.h5l.kcm-socket:/run/.heim_org.h5l.kcm-socket
Volume=/run/avahi-daemon/socket:/run/avahi-daemon/socket
Volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket
Volume=/run/pcscd/pcscd.comm:/run/pcscd/pcscd.comm

# Bind host's toolbox profile and executable onto the container.
Volume=/etc/profile.d/%p.sh:/etc/profile.d/%p.sh:ro
Volume=/usr/bin/%p:/usr/bin/%p:ro

# Bind Home directory onto the container.
Volume=${BINDING_HOME}

# Working directory inside the container.
#WorkingDir=/

[Service]
# Show logs of this Service in Debug mode.
# Environment=SYSTEMD_LOG_LEVEL=debug

# Use home directory normally. (toolbox default)
# Use drop-in file to change home director
Environment=BINDING_HOME="%h:%h:rslave"

# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

[Install]
# Start on user login
#WantedBy=graphical-session.target
